body {
  margin: 0;
  padding: 0;
  color: #797971;
  font-family: 'Noto Sans', sans-serif;
  font-size: 90%;
}

.wrapper {
  width: 50%;
  margin: auto;
}

nav ul {
  list-style: none;
  text-align: right;
  padding-right: 50px;
}

nav ul li {
  display: inline;
  padding-right: 10px;
}

#search {
  width: 525px;
  padding: 12px;
  border: 1.2px solid #dfe1e5;
  border-radius: 25px;
}

.btn {
  width: 12.5%;
  padding: 10px;
  border: none;
  background-color: #f1f1f1;
  color: #797971;
}

.btn:hover {
  cursor: pointer;
}

#mic {
  width:16px;
  position: absolute;
  right: 700px;
  bottom: 568px;
}

.google {
  padding-top: 20%;
}

.google img {
  display: block;
  margin: 0 auto;
}

.google form {
  text-align: center;
}

.google p {
  text-align: center;
}

a {
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
}

footer ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

footer li {
  display: inline;
}

footer p {
  margin-left: 20px;
}

.left-ul {
  float: left;
  margin-left: 20px;
}

.right-ul {
  float: right;
  margin-right: 20px;
}

footer:after {
  content: "";
  clear: both;
}

hr {
  border: 0.5px solid #e4e4e4;
}

.hr-top {
  margin-top: 0;
}
